<html lang="en">

<head>
    <meta charset="utf-8">
    <title>MPN</title>
    <%- include('./layout/head') -%>
        <link rel="stylesheet" type="text/css" href="/assets/css/fifth.css">
</head>

<body>
    <div id="app">
        <div class="frame">
            <div class="div text-center">
                <div class="row">
                    <img id="processImg" src="/assets/img/process5.png" alt="進度條">
                </div>
                <div class="currentlyModelContainer">
                    <p id="currentlyModelName"></p>
                    <p id="btn-login"></p>
                </div>
                <div class="overlap">
                    <div class="fluid-container">
                        <div class="row">
                            <div class="col-7">
                                <div class="overlap-group">
                                    <div class="OBJECTS">
                                        <div class="overlap-2"><img class="img" alt="Element"
                                                src="/assets/img/--29@2x.png">

                                            <svg class="element-2" alt="Element" width="88" height="174"
                                                viewBox="0 0 88 174" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M87.012 86.641C87.0154 89.617 86.8619 92.5911 86.552 95.551C84.3522 116.869 74.3265 136.615 58.4133 150.97C42.5 165.326 21.8295 173.271 0.39801 173.271V155.291C16.8653 155.292 32.7473 149.183 44.9694 138.147C57.1914 127.111 64.884 111.933 66.558 95.551C66.7875 93.305 66.901 91.0487 66.898 88.791C66.8993 80.0573 65.1802 71.4088 61.8389 63.3395C58.4975 55.2702 53.5994 47.9381 47.4241 41.7619C41.2489 35.5858 33.9176 30.6865 25.8488 27.344C17.78 24.0014 9.13176 22.281 0.39801 22.281V0.0209961C11.7728 0.0212587 23.0361 2.26197 33.5448 6.6152C44.0536 10.9684 53.602 17.3489 61.6449 25.3924C69.6878 33.4358 76.0676 42.9847 80.4201 53.4937C84.7726 64.0028 87.0125 75.2662 87.012 86.641Z"
                                                    fill="#DDF9FF" />
                                            </svg>

                                            <div class="element-wrapper">MPN</div>

                                            <svg class="element-3" alt="Element" width="303" height="64"
                                                viewBox="0 0 303 64" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M259.622 1H43.3781C19.9733 1 1 14.8792 1 32C1 49.1208 19.9733 63 43.3781 63H259.622C283.027 63 302 49.1208 302 32C302 14.8792 283.027 1 259.622 1Z"
                                                    fill="#EBFCFF" stroke="#bdbdbd" stroke-miterlimit="10" />
                                            </svg>


                                            <div class="element-4">
                                                <div id="step1" class="text-wrapper-2">Sample &amp; reagents loading
                                                </div>
                                            </div>
                                            <svg class="element-6" alt="Element" width="42" height="50"
                                                viewBox="0 0 42 50" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M39.7075 0.398987L8.76099 40.513L10.2808 41.6855L41.2274 1.5715L39.7075 0.398987Z"
                                                    fill="#0F0F0F" />
                                                <path
                                                    d="M8.87 49.262C7.17458 49.2622 5.51716 48.7596 4.10737 47.8178C2.69758 46.8761 1.59874 45.5374 0.949793 43.9711C0.300845 42.4047 0.130948 40.6812 0.461588 39.0183C0.792227 37.3554 1.60855 35.828 2.80732 34.629C4.0061 33.4301 5.53348 32.6136 7.19631 32.2828C8.85915 31.952 10.5827 32.1217 12.1491 32.7704C13.7155 33.4192 15.0543 34.5179 15.9963 35.9276C16.9382 37.3372 17.441 38.9946 17.441 40.69C17.4386 42.9625 16.5349 45.1413 14.928 46.7483C13.3212 48.3554 11.1425 49.2594 8.87 49.262Z"
                                                    fill="#0F0F0F" />
                                                <path
                                                    d="M3.90698 40.69C3.90698 39.7084 4.19807 38.7489 4.74341 37.9327C5.28875 37.1165 6.06386 36.4804 6.97073 36.1048C7.8776 35.7291 8.8755 35.6309 9.83823 35.8224C10.801 36.0139 11.6853 36.4865 12.3794 37.1806C13.0735 37.8747 13.5461 38.759 13.7376 39.7218C13.9291 40.6845 13.8308 41.6824 13.4552 42.5893C13.0796 43.4961 12.4434 44.2712 11.6273 44.8166C10.8111 45.3619 9.85158 45.653 8.87 45.653C7.55373 45.653 6.29135 45.1301 5.36061 44.1994C4.42987 43.2686 3.90698 42.0063 3.90698 40.69Z"
                                                    fill="#EBFCFF" />
                                            </svg>
                                            <svg class="overlap-group-2" width="59" height="58" viewBox="0 0 59 58"
                                                fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M52.7317 34.526C55.7349 21.6664 47.7446 8.80698 34.885 5.80379C22.0253 2.80061 9.16594 10.7909 6.16275 23.6505C3.15957 36.5102 11.1498 49.3696 24.0095 52.3727C36.8691 55.3759 49.7285 47.3857 52.7317 34.526Z"
                                                    fill="#7F7F7F" />
                                                <path
                                                    d="M21.2023 40.317C19.4533 40.317 17.9636 39.8411 16.7331 38.8892C15.5026 37.9296 14.5624 36.5405 13.9123 34.7218C13.2622 32.8955 12.9372 30.6899 12.9372 28.1051C12.9372 25.5358 13.2622 23.3418 13.9123 21.5232C14.5701 19.6968 15.5142 18.3038 16.7447 17.3442C17.9829 16.3768 19.4688 15.8932 21.2023 15.8932C22.9358 15.8932 24.4178 16.3768 25.6483 17.3442C26.8865 18.3038 27.8307 19.6968 28.4807 21.5232C29.1385 23.3418 29.4674 25.5358 29.4674 28.1051C29.4674 30.6899 29.1424 32.8955 28.4923 34.7218C27.8423 36.5405 26.902 37.9296 25.6715 38.8892C24.441 39.8411 22.9513 40.317 21.2023 40.317ZM21.2023 37.7632C22.9358 37.7632 24.2824 36.9274 25.242 35.2558C26.2016 33.5842 26.6814 31.2006 26.6814 28.1051C26.6814 26.0466 26.4609 24.2937 26.0198 22.8465C25.5864 21.3994 24.9595 20.2966 24.1392 19.5382C23.3266 18.7798 22.3477 18.4005 21.2023 18.4005C19.4843 18.4005 18.1416 19.248 17.1742 20.9428C16.2069 22.6298 15.7232 25.0173 15.7232 28.1051C15.7232 30.1636 15.9399 31.9126 16.3733 33.3521C16.8066 34.7915 17.4296 35.8865 18.2422 36.6372C19.0625 37.3879 20.0492 37.7632 21.2023 37.7632ZM42.2366 16.2182V39.992H39.3577V19.2363H39.2184L33.4143 23.0903V20.165L39.3577 16.2182H42.2366Z"
                                                    fill="white" />
                                            </svg>


                                            <svg class="element-19" alt="Element" width="300" height="64"
                                                viewBox="0 0 301 64" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M257.904 1H43.0949C37.5668 1 32.0929 1.80186 26.9856 3.35979C21.8783 4.91773 17.2377 7.20123 13.3288 10.0799C9.41995 12.9586 6.31929 16.376 4.2039 20.1372C2.08851 23.8983 0.999822 27.9295 1 32.0005C1 40.2221 5.43501 48.1069 13.3293 53.9204C21.2237 59.734 31.9307 63 43.0949 63H257.904C269.068 63 279.775 59.734 287.67 53.9205C295.564 48.107 300 40.2222 300 32.0005C300 27.9295 298.911 23.8983 296.796 20.1371C294.68 16.376 291.579 12.9585 287.67 10.0798C283.761 7.20118 279.121 4.9177 274.013 3.35978C268.906 1.80186 263.432 1 257.904 1Z"
                                                    fill="#96CEFC" stroke="#BDBDBD" stroke-miterlimit="10" />
                                            </svg>


                                            <svg class="element-7" alt="Element" width="300" height="64"
                                                viewBox="0 0 301 64" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M257.904 1H43.0949C37.5668 1 32.0929 1.80186 26.9856 3.35979C21.8783 4.91773 17.2377 7.20123 13.3288 10.0799C9.41995 12.9586 6.31929 16.376 4.2039 20.1372C2.08851 23.8983 0.999822 27.9295 1 32.0005C1 40.2221 5.43501 48.1069 13.3293 53.9204C21.2237 59.734 31.9307 63 43.0949 63H257.904C269.068 63 279.775 59.734 287.67 53.9205C295.564 48.107 300 40.2222 300 32.0005C300 27.9295 298.911 23.8983 296.796 20.1371C294.68 16.376 291.579 12.9585 287.67 10.0798C283.761 7.20118 279.121 4.9177 274.013 3.35978C268.906 1.80186 263.432 1 257.904 1Z"
                                                    fill="#96CEFC" stroke="#BDBDBD" stroke-miterlimit="10" />
                                            </svg>
                                            <div class="element-8">
                                                <div id="step2" class="text-wrapper-2">1st PCR</div>
                                            </div>

                                            <svg class="element-11" alt="Element" width="94" height="62"
                                                viewBox="0 0 94 62" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M63.451 27.3083L10.074 49.735L10.817 51.5033L64.194 29.0766L63.451 27.3083Z"
                                                    fill="#0F0F0F" />
                                                <path
                                                    d="M15.9072 57.8928C20.1036 55.7013 21.729 50.5229 19.5376 46.3265C17.3462 42.13 12.1678 40.5047 7.97134 42.6961C3.77489 44.8875 2.1495 50.0659 4.34093 54.2623C6.53235 58.4588 11.7107 60.0842 15.9072 57.8928Z"
                                                    fill="#0F0F0F" />
                                                <path
                                                    d="M6.97701 50.294C6.97701 49.3124 7.26811 48.3528 7.81349 47.5366C8.35888 46.7204 9.13404 46.0843 10.041 45.7087C10.9479 45.3331 11.9458 45.2349 12.9086 45.4264C13.8714 45.618 14.7557 46.0908 15.4497 46.785C16.1438 47.4792 16.6164 48.3636 16.8078 49.3264C16.9992 50.2892 16.9007 51.2871 16.5249 52.1939C16.1491 53.1008 15.5129 53.8758 14.6966 54.4211C13.8803 54.9663 12.9206 55.2572 11.939 55.257C11.2873 55.2571 10.6419 55.1288 10.0397 54.8795C9.43761 54.6301 8.89049 54.2645 8.42969 53.8036C7.96888 53.3427 7.60342 52.7955 7.35416 52.1933C7.1049 51.5911 6.97674 50.9457 6.97701 50.294Z"
                                                    fill="#00B1E5" />
                                                <path
                                                    d="M87.6822 34.4743C90.7459 21.6252 82.8132 8.72527 69.9641 5.66155C57.115 2.59783 44.2151 10.5305 41.1514 23.3796C38.0876 36.2287 46.0203 49.1286 58.8694 52.1924C71.7185 55.2561 84.6184 47.3234 87.6822 34.4743Z"
                                                    fill="#7F7F7F" />
                                            </svg>


                                            <svg class="element-12" alt="Element" width="303" height="64"
                                                viewBox="0 0 303 64" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M259.622 1H43.3781C19.9733 1 1 14.8792 1 32C1 49.1208 19.9733 63 43.3781 63H259.622C283.027 63 302 49.1208 302 32C302 14.8792 283.027 1 259.622 1Z"
                                                    fill="#EBFCFF" stroke="#bdbdbd" stroke-miterlimit="10" />
                                            </svg>
                                            <div class="element-13">
                                                <div id="step3" class="text-wrapper-2">1st PCR products purification
                                                </div>
                                            </div>
                                            <svg class="element-18" alt="Element" width="98" height="69"
                                                viewBox="0 0 98 69" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M61.249 32.33H6.811V34.248H61.249V32.33Z" fill="#0F0F0F" />
                                                <path
                                                    d="M9.36801 42.011C7.67262 42.011 6.0153 41.5083 4.60565 40.5664C3.19599 39.6245 2.09729 38.2857 1.4485 36.7194C0.799702 35.153 0.629951 33.4295 0.960703 31.7667C1.29146 30.1039 2.10787 28.5765 3.30668 27.3777C4.5055 26.1789 6.03288 25.3625 7.69569 25.0317C9.35849 24.701 11.082 24.8707 12.6484 25.5195C14.2147 26.1683 15.5535 27.267 16.4954 28.6767C17.4373 30.0863 17.94 31.7436 17.94 33.439C17.9373 35.7116 17.0334 37.8904 15.4264 39.4974C13.8194 41.1044 11.6406 42.0084 9.36801 42.011Z"
                                                    fill="#0F0F0F" />
                                                <path
                                                    d="M4.40601 33.439C4.40601 32.4574 4.69711 31.4978 5.24249 30.6816C5.78788 29.8654 6.56304 29.2293 7.46997 28.8537C8.3769 28.4781 9.37485 28.3799 10.3376 28.5715C11.3004 28.763 12.1847 29.2358 12.8787 29.93C13.5728 30.6242 14.0454 31.5086 14.2368 32.4714C14.4282 33.4342 14.3297 34.4321 13.9539 35.339C13.5781 36.2458 12.9419 37.0209 12.1256 37.5661C11.3093 38.1113 10.3496 38.4022 9.36801 38.402C8.71631 38.402 8.07099 38.2736 7.4689 38.0242C6.86682 37.7748 6.31977 37.4092 5.85899 36.9483C5.39822 36.4874 5.03274 35.9403 4.78343 35.3382C4.53413 34.7361 4.40587 34.0907 4.40601 33.439Z"
                                                    fill="#EBFCFF" />
                                                <path
                                                    d="M80.8539 51.6936C90.1917 42.3558 90.1917 27.2162 80.8539 17.8784C71.5161 8.54055 56.3765 8.54055 47.0386 17.8784C37.7008 27.2162 37.7008 42.3558 47.0386 51.6936C56.3765 61.0315 71.5161 61.0315 80.8539 51.6936Z"
                                                    fill="#7F7F7F" />
                                            </svg>

                                            <svg class="element-50" alt="Element" width="303" height="64"
                                                viewBox="0 0 303 64" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M259.622 1H43.3781C19.9733 1 1 14.8792 1 32C1 49.1208 19.9733 63 43.3781 63H259.622C283.027 63 302 49.1208 302 32C302 14.8792 283.027 1 259.622 1Z"
                                                    fill="#EBFCFF" stroke="#bdbdbd" stroke-miterlimit="10" />
                                            </svg>
                                            <div class="element-51">
                                                <div id="step4" class="text-wrapper-2">2nd PCR</div>
                                            </div>
                                            <svg class="element-52" alt="Element" width="98" height="69"
                                                viewBox="0 0 98 69" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M61.249 32.33H6.811V34.248H61.249V32.33Z" fill="#0F0F0F" />
                                                <path
                                                    d="M9.36801 42.011C7.67262 42.011 6.0153 41.5083 4.60565 40.5664C3.19599 39.6245 2.09729 38.2857 1.4485 36.7194C0.799702 35.153 0.629951 33.4295 0.960703 31.7667C1.29146 30.1039 2.10787 28.5765 3.30668 27.3777C4.5055 26.1789 6.03288 25.3625 7.69569 25.0317C9.35849 24.701 11.082 24.8707 12.6484 25.5195C14.2147 26.1683 15.5535 27.267 16.4954 28.6767C17.4373 30.0863 17.94 31.7436 17.94 33.439C17.9373 35.7116 17.0334 37.8904 15.4264 39.4974C13.8194 41.1044 11.6406 42.0084 9.36801 42.011Z"
                                                    fill="#0F0F0F" />
                                                <path
                                                    d="M4.40601 33.439C4.40601 32.4574 4.69711 31.4978 5.24249 30.6816C5.78788 29.8654 6.56304 29.2293 7.46997 28.8537C8.3769 28.4781 9.37485 28.3799 10.3376 28.5715C11.3004 28.763 12.1847 29.2358 12.8787 29.93C13.5728 30.6242 14.0454 31.5086 14.2368 32.4714C14.4282 33.4342 14.3297 34.4321 13.9539 35.339C13.5781 36.2458 12.9419 37.0209 12.1256 37.5661C11.3093 38.1113 10.3496 38.4022 9.36801 38.402C8.71631 38.402 8.07099 38.2736 7.4689 38.0242C6.86682 37.7748 6.31977 37.4092 5.85899 36.9483C5.39822 36.4874 5.03274 35.9403 4.78343 35.3382C4.53413 34.7361 4.40587 34.0907 4.40601 33.439Z"
                                                    fill="#00B1E5" />
                                                <path
                                                    d="M80.8539 51.6936C90.1917 42.3558 90.1917 27.2162 80.8539 17.8784C71.5161 8.54055 56.3765 8.54055 47.0386 17.8784C37.7008 27.2162 37.7008 42.3558 47.0386 51.6936C56.3765 61.0315 71.5161 61.0315 80.8539 51.6936Z"
                                                    fill="#7F7F7F" />
                                            </svg>
                                            <div class="element-20">
                                                <div id="step5" class="text-wrapper-2">2nd PCR products purification
                                                </div>
                                            </div>

                                            <svg class="element-23" alt="Element" width="95" height="70"
                                                viewBox="0 0 95 70" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M9.29171 10.0269L8.548 11.796L63.4488 34.8764L64.1925 33.1074L9.29171 10.0269Z"
                                                    fill="#0F0F0F" />
                                                <path
                                                    d="M15.5319 20.1231C19.7497 17.9731 21.426 12.811 19.276 8.59314C17.126 4.37533 11.9639 2.69904 7.74604 4.84905C3.52822 6.99906 1.85194 12.1612 4.00195 16.379C6.15196 20.5968 11.3141 22.2731 15.5319 20.1231Z"
                                                    fill="#0F0F0F" />
                                                <path
                                                    d="M6.67601 12.486C6.67621 11.5046 6.96739 10.5454 7.51274 9.72951C8.05809 8.91365 8.83312 8.27783 9.73982 7.90243C10.6465 7.52702 11.6442 7.42887 12.6067 7.62044C13.5691 7.81202 14.4532 8.2847 15.147 8.97869C15.8409 9.67268 16.3134 10.5568 16.5047 11.5193C16.6961 12.4818 16.5978 13.4795 16.2222 14.3861C15.8466 15.2927 15.2106 16.0676 14.3946 16.6128C13.5787 17.158 12.6193 17.449 11.638 17.449C10.3219 17.4487 9.0598 16.9257 8.12927 15.995C7.19875 15.0643 6.67601 13.8021 6.67601 12.486Z"
                                                    fill="#EBFCFF" />
                                                <path
                                                    d="M77.7109 52.5427C87.0487 43.2048 87.0487 28.0652 77.7109 18.7274C68.3731 9.38957 53.2335 9.38957 43.8956 18.7274C34.5578 28.0652 34.5578 43.2048 43.8956 52.5427C53.2335 61.8805 68.3731 61.8805 77.7109 52.5427Z"
                                                    fill="#7F7F7F" />
                                            </svg>


                                            <svg class="element-24" alt="Element" width="300" height="64"
                                                viewBox="0 0 301 64" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M257.904 1H43.0949C37.5668 1 32.0929 1.80186 26.9856 3.35979C21.8783 4.91773 17.2377 7.20123 13.3288 10.0799C9.41995 12.9586 6.31929 16.376 4.2039 20.1372C2.08851 23.8983 0.999822 27.9295 1 32.0005C1 40.2221 5.43501 48.1069 13.3293 53.9204C21.2237 59.734 31.9307 63 43.0949 63H257.904C269.068 63 279.775 59.734 287.67 53.9205C295.564 48.107 300 40.2222 300 32.0005C300 27.9295 298.911 23.8983 296.796 20.1371C294.68 16.376 291.579 12.9585 287.67 10.0798C283.761 7.20118 279.121 4.9177 274.013 3.35978C268.906 1.80186 263.432 1 257.904 1Z"
                                                    fill="#b5fdbe" stroke="#BDBDBD" stroke-miterlimit="10" />
                                            </svg>
                                            <div class="element-25">
                                                <div id="pcText" class="text-wrapper-2">Program Complete</div>
                                            </div>
                                            <svg class="element-28" alt="Element" width="71" height="80"
                                                viewBox="0 0 71 80" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M11.2048 9.39648L9.685 10.569L42.712 53.3798L44.2318 52.2073L11.2048 9.39648Z"
                                                    fill="#0F0F0F" />
                                                <path
                                                    d="M15.5265 20.0161C19.7683 17.9141 21.503 12.7714 19.401 8.52957C17.299 4.28775 12.1564 2.55305 7.91452 4.65503C3.67269 6.75701 1.938 11.8997 4.03998 16.1415C6.14195 20.3833 11.2846 22.118 15.5265 20.0161Z"
                                                    fill="#0F0F0F" />
                                                <path
                                                    d="M6.75702 12.338C6.75702 11.3564 7.04812 10.3968 7.59351 9.58061C8.13889 8.76442 8.91407 8.1283 9.821 7.75269C10.7279 7.37709 11.7259 7.27886 12.6886 7.47044C13.6514 7.66202 14.5357 8.1348 15.2297 8.82899C15.9238 9.52318 16.3964 10.4076 16.5878 11.3704C16.7792 12.3332 16.6807 13.3311 16.3049 14.238C15.9292 15.1448 15.2929 15.9198 14.4766 16.4651C13.6603 17.0103 12.7007 17.3012 11.719 17.301C11.0673 17.301 10.422 17.1726 9.81992 16.9232C9.21783 16.6738 8.67078 16.3082 8.21001 15.8473C7.74923 15.3865 7.38375 14.8393 7.13445 14.2372C6.88514 13.6351 6.75689 12.9897 6.75702 12.338Z"
                                                    fill="#00B1E5" />
                                                <path
                                                    d="M46.447 79.395C59.6527 79.395 70.358 68.6897 70.358 55.484C70.358 42.2783 59.6527 31.573 46.447 31.573C33.2413 31.573 22.536 42.2783 22.536 55.484C22.536 68.6897 33.2413 79.395 46.447 79.395Z"
                                                    fill="#7F7F7F" />
                                            </svg>

                                            <svg class="element-29" alt="Element" width="96" height="104"
                                                viewBox="0 0 96 104" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <g filter="url(#filter0_d_1_482)">
                                                    <path
                                                        d="M91.012 86.641C91.0154 89.617 90.8619 92.5911 90.552 95.551H70.562C70.7915 93.305 70.905 91.0487 70.902 88.791C70.9033 80.0573 69.1842 71.4088 65.8429 63.3395C62.5015 55.2702 57.6034 47.9381 51.4281 41.7619C45.2529 35.5858 37.9216 30.6865 29.8528 27.344C21.784 24.0014 13.1358 22.281 4.40201 22.281V0.0209961C27.3737 0.0225873 49.4038 9.14944 65.6463 25.3938C81.8888 41.6381 91.0131 63.6693 91.012 86.641Z"
                                                        fill="#7DC2FB" />
                                                </g>
                                                <defs>
                                                    <filter id="filter0_d_1_482" x="0.402008" y="0.0209961"
                                                        width="94.61" height="103.53" filterUnits="userSpaceOnUse"
                                                        color-interpolation-filters="sRGB">
                                                        <feFlood flood-opacity="0" result="BackgroundImageFix" />
                                                        <feColorMatrix in="SourceAlpha" type="matrix"
                                                            values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                                                            result="hardAlpha" />
                                                        <feOffset dy="4" />
                                                        <feGaussianBlur stdDeviation="2" />
                                                        <feComposite in2="hardAlpha" operator="out" />
                                                        <feColorMatrix type="matrix"
                                                            values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0" />
                                                        <feBlend mode="normal" in2="BackgroundImageFix"
                                                            result="effect1_dropShadow_1_482" />
                                                        <feBlend mode="normal" in="SourceGraphic"
                                                            in2="effect1_dropShadow_1_482" result="shape" />
                                                    </filter>
                                                </defs>
                                            </svg>

                                            <div id="statusNumber2" class="text-wrapper-5">02</div>
                                            <div id="statusNumber3" class="text-wrapper-6">03</div>
                                            <div id="statusNumber4" class="text-wrapper-7">04</div>
                                            <div id="statusNumber5" class="text-wrapper-8">05</div>
                                            <div id="statusNumber6" class="text-wrapper-44">06</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-5 text-center">
                                <div class="row my-5">
                                    <div class="element">Remaining Time: <span id="timer">00:00:00</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6 py-5">
                                        <button id="pause" type="button"
                                            class="chooseBtn active nextPage btn-primary border-5">
                                            <i class="fa-solid fa-pause"></i>
                                        </button>
                                        <h1>Pause</h1>
                                    </div>
                                    <div class="col-6 py-5">
                                        <button id="start" type="button"
                                            class="chooseBtn nextPage btn-primary border-5">
                                            <i class="fa-solid fa-caret-right"></i>
                                        </button>
                                        <h1>Play</h1>
                                    </div>
                                </div>
                                <div class="row">
                                    <button type="button" class="btn btn-warning btn-confirm">End Program</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <img class="element-43" alt="Element" src="/assets/img/---1-1@2x.png">
            </div>
        </div>
    </div>

    <div class="modal fade" id="EOPModal" tabindex="-1" aria-labelledby="EOPModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-fullscreen">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="container text-center">
                        <div class="row modalFirstRow">
                            <p>End Program?</p>
                        </div>
                        <div class="row justify-content-md-center my-5">
                            <div class="col-3">
                                <button type="button" class="btn chooseBtn chooseBtnn"
                                    data-bs-dismiss="modal">&Chi;</button>
                            </div>
                            <div class="col-3">
                                <button id="btn-logout" type="button" class="btn chooseBtn chooseBtnn">&radic;</button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%- include('./layout/js') -%>
        <script src="/assets/js/fifthPage.js"></script>
</body>

</html>