<!DOCTYPE html>
<html>

<head>
    <title>
        MPN
    </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel='stylesheet' href='/assets/css/third.css' />
</head>


<body>
    <div class="container text-center secondpage-layout">
        <div class="row mt-5 mb-5">
            <h1>Check list of Sample, Reagents, and Consumables</h1>
        </div>
        <div class="row checkSOP">
            <div class="col border border-2">
                <input class="bigcheckbox" type="checkbox">
                <h5>Tip rack X1</h5>
            </div>
            <div class="col  border border-2">
                <div class="row">
                    <div class="col">
                        <input class="smallcheckbox" type="checkbox">
                        <h5>Reagents</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <input class="smallcheckbox" type="checkbox">
                        <h5>Sample</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <input class="smallcheckbox" type="checkbox">
                        <h5>Index PCR mix</h5>
                    </div>

                </div>
            </div>
            <div class="col border border-2">
                <input class="bigcheckbox" type="checkbox">
                <h5>
                    96 well PCR plate
                </h5>
            </div>
            <div class="col"></div>
        </div>
        <div class="row checkSOP">
            <div class="col border border-2">
                <input class="bigcheckbox" type="checkbox">
                <h5>
                    Tip rack X3
                </h5>
            </div>
            <div class="col border border-2 boder-dashed"></div>
            <div class="col border border-2 boder-dashed"></div>
            <div class="col"></div>
        </div>
        <div class="row checkSOP">
            <div class="col border border-2 boder-dashed"></div>
            <div class="col border border-2">
                <input class="bigcheckbox" type="checkbox">
                <h5>12 well plate
                    with reagent</h5>
            </div>
            <div class="col border border-2">
                <input class="bigcheckbox" type="checkbox">
                <h5>
                    Deep well
                    plate
                </h5>
            </div>
            <div class="col">
                <div class="done border border-2">
                    <h5>Ashcan</h5>
                </div>
                <input class="bigcheckbox" type="checkbox">
            </div>
        </div>
        <div class="row checkSOP">
            <div class="col border border-2 boder-dashed"></div>
            <div class="col"></div>
            <div class="col border border-2">
                <input class="bigcheckbox" type="checkbox">
                <h5>
                    Empty racks
                    Cleaned
                </h5>
            </div>
            <div class="col"></div>
        </div>
        <div class="row mt-5 justify-content-between">
            <div class="col-2">
                <a href="/third"><button type="button" class="prevPage btn-primary border-5">prevPage</button></a>
            </div>
            <div class="col-2">
                <a href="/fifth"><button type="button" id="startBtn"
                        class="nextPage btn-primary border-5">start</button></a>
            </div>

        </div>

    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
</body>

</html>