<!DOCTYPE html>
<html>

<head>
    <title>
        DEMO
    </title>
    <%- include('./layout/head') -%>
        <!-- <link rel='stylesheet' href='/assets/css/report.css' /> -->
        <style>
            table,
            th,
            td {
                border: 1px solid black;
                border-collapse: collapse;
            }
        </style>
</head>


<body>
    <div class="container text-center secondpage-layout">
        <div class="row mt-5 mb-5">
            <h1>History</h1>
        </div>
        <div class="row">
            <table id="reportTable" class="demo">
                <thead>
                    <tr>
                        <th>User ID</th>
                        <th>Program</th>
                        <th>Sample</th>
                        <th>Lot</th>
                        <th>Start</th>
                        <th>Finish</th>
                        <th>Statuts</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>cajobe</td>
                        <td>DEMO</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>20230619
                            10:30:30</td>
                        <td>20230619
                            18:30:30 </td>
                        <td>completed
                        </td>
                    </tr>
                    <tr>
                        <td>cajobe</td>
                        <td>DEMO</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>20230618
                            09:23:23
                        </td>
                        <td>20230618
                            09:24:00</td>
                        <td>abort</td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                <tbody>
            </table>
        </div>
        <div class="row mt-5">
            <a href="/"><button type="button" class="nextPage btn-primary border-5">Home</button></a>
        </div>

    </div>
    <%- include('./layout/js') -%>
</body>

</html>