<!DOCTYPE html>
<html>

<head>
    <title>
        第二頁
    </title>
    <%- include('./layout/head') -%>
        <link rel='stylesheet' href='/assets/css/second.css' />

</head>

<body>
    <div class="fluid-container text-center secondpage-layout">
        <div class="row">
            <img id="processImg" src="/assets/img/process2.png" alt="進度條">
        </div>
        <div class="currentlyModelContainer">
            <p id="currentlyModelName"></p>
            <p id="btn-login"></p>
        </div>
        <div class="row">
            <div class="col-2">
                <div class="row processContainer">
                    <img id="modelImage2" img src="" alt="目前步驟">
                </div>
                <div class="row samplenumberContainer">
                </div>
            </div>
            <div class="col-10">
                <table class="demo" border="0" style="border: 5px solid rgb(65, 113, 156)">
                    <tbody>
                        <tr>
                            <td rowspan="10" style="width:240px;">
                                <div class="row">
                                    <h2 class="thHeader">Reagents</h2>
                                </div>
                                <div class="row">

                                    <div class="col-sm-6">
                                        <button type="button" id="reagents1"
                                            class="countPopBtn scircle btn-primary border-5" data-bs-toggle="modal"
                                            data-bs-target="#staticBackdrop"></button>
                                    </div>
                                    <div class="col-sm-6">
                                        <button type="button" id="reagents6"
                                            class="countPopBtn scircle btn-primary border-5" data-bs-toggle="modal"
                                            data-bs-target="#staticBackdrop"></button>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <button type="button" id="reagents2"
                                            class="countPopBtn scircle btn-primary border-5" data-bs-toggle="modal"
                                            data-bs-target="#staticBackdrop"></button>
                                    </div>
                                    <div class="col-sm-6">
                                        <button type="button" id="reagents7"
                                            class="countPopBtn scircle btn-primary border-5" data-bs-toggle="modal"
                                            data-bs-target="#staticBackdrop"></button>
                                    </div>
                                </div>
                                <div class="row">

                                    <div class="col-sm-6">
                                        <button type="button" id="reagents3"
                                            class="countPopBtn scircle btn-primary border-5" data-bs-toggle="modal"
                                            data-bs-target="#staticBackdrop"></button>
                                    </div>
                                    <div class="col-sm-6">
                                        <button type="button" id="reagents8"
                                            class="countPopBtn scircle btn-primary border-5" data-bs-toggle="modal"
                                            data-bs-target="#staticBackdrop"></button>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <button type="button" id="reagents4"
                                            class="countPopBtn scircle btn-primary border-5" data-bs-toggle="modal"
                                            data-bs-target="#staticBackdrop"></button>
                                    </div>
                                    <div class="col-sm-6">
                                        <button type="button" id="reagents9"
                                            class="countPopBtn scircle btn-primary border-5" data-bs-toggle="modal"
                                            data-bs-target="#staticBackdrop"></button>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <button type="button" id="reagents5"
                                            class="countPopBtn scircle btn-primary border-5" data-bs-toggle="modal"
                                            data-bs-target="#staticBackdrop"></button>
                                    </div>
                                    <div class="col-sm-6">
                                        <button type="button" id="reagents10"
                                            class="countPopBtn scircle btn-primary border-5" data-bs-toggle="modal"
                                            data-bs-target="#staticBackdrop"></button>
                                    </div>
                                </div>
                            </td>
                            <td></td>
                            <td colspan="3">
                                <div class="row">
                                    <h2 class="thHeader">Samples</h2>
                                </div>
                            </td>
                            <td colspan="3">
                                <div class="row">
                                    <h2 class="thHeader">Index</h2>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="tdRow"></td>
                            <td class="tdRow">1</td>
                            <td class="tdRow">2</td>
                            <td class="tdRow">3</td>
                            <td class="tdRow">1</td>
                            <td class="tdRow">2</td>
                            <td class="tdRow">3</td>
                        </tr>
                        <tr>
                            <td class="tdCol">A</td>
                            <td id="tdFirst_1" class="tdWidth">

                                <button type="button" class="sscircle btn-primary" rowName="A" colName="1"></button>
                            </td>
                            <td id="tdFirst_9" class="tdWidth">

                                <button type="button" class="sscircle btn-primary" rowName="A" colName="2"></button>
                            </td>
                            <td id="tdFirst_17" class="tdWidth">

                                <button type="button" class="sscircle btn-primary" rowName="A" colName="3"></button>
                            </td>
                            <td id="tdSecond_1" class="tdWidth">
                                <button type="button" class="sscircle btn-primary"></button>
                            </td>
                            <td id="tdSecond_9" class="tdWidth">
                                <button type="button" class="sscircle btn-primary"></button>
                            </td>
                            <td id="tdSecond_17" class="tdWidth">
                                <button type="button" class="sscircle btn-primary"></button>
                            </td>
                        </tr>
                        <tr>
                            <td class="tdCol">B</td>
                            <td id="tdFirst_2" class="tdWidth">

                                <button type="button" class="sscircle btn-primary" rowName="B" colName="1"></button>
                            </td>
                            <td id="tdFirst_10" class="tdWidth">

                                <button type="button" class="sscircle btn-primary" rowName="B" colName="2"></button>
                            </td>
                            <td id="tdFirst_18" class="tdWidth">

                                <button type="button" class="sscircle btn-primary" rowName="B" colName="3"></button>
                            </td>
                            <td id="tdSecond_2" class="tdWidth">
                                <button type="button" class="sscircle btn-primary"></button>
                            </td>
                            <td id="tdSecond_10" class="tdWidth">
                                <button type="button" class="sscircle btn-primary"></button>
                            </td>
                            <td id="tdSecond_18" class="tdWidth">
                                <button type="button" class="sscircle btn-primary"></button>
                            </td>
                        </tr>
                        <tr>
                            <td class="tdCol">C</td>
                            <td id="tdFirst_3" class="tdWidth">

                                <button type="button" class="sscircle btn-primary" rowName="C" colName="1"></button>
                            </td>
                            <td id="tdFirst_11" class="tdWidth">

                                <button type="button" class="sscircle btn-primary" rowName="C" colName="2"></button>
                            </td>
                            <td id="tdFirst_19" class="tdWidth">

                                <button type="button" class="sscircle btn-primary" rowName="C" colName="3"></button>
                            </td>
                            <td id="tdSecond_3" class="tdWidth">
                                <button type="button" class="sscircle btn-primary"></button>
                            </td>
                            <td id="tdSecond_11" class="tdWidth">
                                <button type="button" class="sscircle btn-primary"></button>
                            </td>
                            <td id="tdSecond_19" class="tdWidth">
                                <button type="button" class="sscircle btn-primary"></button>
                            </td>
                        </tr>
                        <tr>
                            <td class="tdCol">D</td>
                            <td id="tdFirst_4" class="tdWidth">

                                <button type="button" class="sscircle btn-primary" rowName="D" colName="1"></button>
                            </td>
                            <td id="tdFirst_12" class="tdWidth">

                                <button type="button" class="sscircle btn-primary" rowName="D" colName="2"></button>
                            </td>
                            <td id="tdFirst_20" class="tdWidth">
                                <button type="button" class="sscircle btn-primary" rowName="D" colName="3"></button>
                            </td>
                            <td id="tdSecond_4" class="tdWidth">
                                <button type="button" class="sscircle btn-primary"></button>
                            </td>
                            <td id="tdSecond_12" class="tdWidth">
                                <button type="button" class="sscircle btn-primary"></button>
                            </td>
                            <td id="tdSecond_20" class="tdWidth">
                                <button type="button" class="sscircle btn-primary"></button>
                            </td>
                        </tr>
                        <tr>
                            <td class="tdCol">E</td>
                            <td id="tdFirst_5" class="tdWidth">
                                <button type="button" class="sscircle btn-primary" rowName="E" colName="1"></button>
                            </td>
                            <td id="tdFirst_13" class="tdWidth">
                                <button type="button" class="sscircle btn-primary" rowName="E" colName="2"></button>
                            </td>
                            <td id="tdFirst_21" class="tdWidth">
                                <button type="button" class="sscircle btn-primary" rowName="E" colName="3"></button>
                            </td>
                            <td id="tdSecond_5" class="tdWidth">
                                <button type="button" class="sscircle btn-primary"></button>
                            </td>
                            <td id="tdSecond_13" class="tdWidth">
                                <button type="button" class="sscircle btn-primary"></button>
                            </td>
                            <td id="tdSecond_21" class="tdWidth">
                                <button type="button" class="sscircle btn-primary"></button>
                            </td>
                        </tr>
                        <tr>
                            <td class="tdCol">F</td>
                            <td id="tdFirst_6" class="tdWidth">

                                <button type="button" class="sscircle btn-primary" rowName="F" colName="1"></button>
                            </td>
                            <td id="tdFirst_14" class="tdWidth">

                                <button type="button" class="sscircle btn-primary" rowName="F" colName="2"></button>
                            </td>
                            <td id="tdFirst_22" class="tdWidth">

                                <button type="button" class="sscircle btn-primary" rowName="F" colName="3"></button>
                            </td>
                            <td id="tdSecond_6" class="tdWidth">
                                <button type="button" class="sscircle btn-primary"></button>
                            </td>
                            <td id="tdSecond_14" class="tdWidth">
                                <button type="button" class="sscircle btn-primary"></button>
                            </td>
                            <td id="tdSecond_22" class="tdWidth">
                                <button type="button" class="sscircle btn-primary"></button>
                            </td>
                        </tr>
                        <tr>
                            <td class="tdCol">G</td>
                            <td id="tdFirst_7" class="tdWidth">

                                <button type="button" class="sscircle btn-primary" rowName="G" colName="1"></button>
                            </td>
                            <td id="tdFirst_15" class="tdWidth">

                                <button type="button" class="sscircle btn-primary" rowName="G" colName="2"></button>
                            </td>
                            <td id="tdFirst_23" class="tdWidth">

                                <button type="button" class="sscircle btn-primary" rowName="G" colName="3"></button>
                            </td>
                            <td id="tdSecond_7" class="tdWidth">
                                <button type="button" class="sscircle btn-primary"></button>
                            </td>
                            <td id="tdSecond_15" class="tdWidth">
                                <button type="button" class="sscircle btn-primary"></button>
                            </td>
                            <td id="tdSecond_23" class=" tdWidth">
                                <button type="button" class="sscircle btn-primary"></button>
                            </td>
                        </tr>
                        <tr>
                            <td class="tdCol">H</td>
                            <td id="tdFirst_8" class="tdWidth">

                                <button type="button" class="sscircle btn-primary" rowName="H" colName="1"></button>
                            </td>
                            <td id="tdFirst_16" class="tdWidth">

                                <button type="button" class="sscircle btn-primary" rowName="H" colName="2"></button>
                            </td>
                            <td id="tdFirst_24" class="tdWidth">

                                <button type="button" class="sscircle btn-primary" rowName="H" colName="3"></button>
                            </td>
                            <td id="tdSecond_8" class="tdWidth">
                                <button type="button" class="sscircle btn-primary"></button>
                            </td>
                            <td id="tdSecond_16" class="tdWidth">
                                <button type="button" class="sscircle btn-primary"></button>
                            </td>
                            <td id="tdSecond_24" class="tdWidth">
                                <button type="button" class="sscircle btn-primary"></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
        <div class="row justify-content-between">
            <div class="col-2">
                <a href="/?redirect=true">
                    <button type="button" class="changePage prevPage btn-primary border-5">
                        <i class="fa-solid fa-caret-left"></i>
                    </button>
                    <h1 class="center-heading" style="display: inline-block; margin-left: 30px; margin-top: -200px;">
                        Back
                    </h1>
                </a>

            </div>
            <div class="col-2">
                <button type="button" class="changePage nextPage btn-primary border-5">
                    <i class="fa-solid fa-caret-right"></i>
                </button>
                <h1 class="center-heading" style="display: inline-block; margin-right: -30px; margin-top: -20px;">Next
                </h1>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade bg-transparent" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false"
        tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="false">
        <div class="modal-dialog modal-md countTotalContainerRight">
            <div class="modal-content">
                <div class="modal-body text-center">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="showModelName">
                                <p style="font-size: 31px;"></p>
                            </div>
                        </div>
                        <div class="contentInner">
                        </div>
                        <div class="row">
                            <div class="col-6 text-start">
                                <button id="cancleChoose" type="button"
                                    class="chooesBtn changePage btn-primary border-5" data-bs-dismiss="modal">X</button>
                            </div>
                            <div class="col-6 text-end">
                                <button id="doneChoose" type="button" class="chooesBtn changePage btn-primary border-5"
                                    data-bs-dismiss="modal">&#10003;</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="keyboardContainer" class="keyboardContainer">
        <div id="keyboard">
            <div class="key">+1</div>
            <div class="key">+2</div>
            <div class="key">+3</div>
            <div class="key">+4</div>
            <div class="key">+5</div>
            <div class="key">+6</div>
            <div class="key">+7</div>
            <div class="key">+8</div>
            <div class="key">+9</div>
            <div class="key" id="backspace">-1</div>
            <div class="key">0</div>
            <div class="key" id="clear">min</div>
            <div class="key" id="ok">OK</div>
        </div>
    </div>
    <%- include('./layout/js') -%>
        <script src="/assets/js/secondPage.js"></script>
</body>

</html>