<!DOCTYPE html>
<html>

<head>
    <title>
        MPN
    </title>
    <%- include('./layout/head') -%>
    <link rel='stylesheet' href='/assets/css/third.css' />
</head>


<body>
    <div class="fluid-container text-center secondpage-layout">
        <div class="row text-center mt-5">
            <p class="warningText">Warning!!</p>
        </div>
        <div class="currentlyModelContainer">
            <p id="currentlyModelName"></p>
            <p id="btn-login"></p>
        </div>
        <div class="row checkSOP">
            <div class="col border-3 active border-solid">
                <button type="button" id="trx1" class="checkbtn active btn btn-secondary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Tip Rack A X1</button>
            </div>
            <div class="col border-3 active border-solid">
                <button type="button" id="reagents" class="checkbtn active checkbtnl btn btn-secondary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Reagents</button>
                <button type="button" id="sample" class="checkbtn active checkbtnm btn btn-secondary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Sample</button>
                <button type="button" id="ipcrm" class="checkbtn active checkbtnr btn btn-secondary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Index PCR mix</button>
            </div>
            <div class="col border-3 active border-solid">

                <button type="button" id="96wpcrp" class="checkbtn active btn btn-secondary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">PCR plate</button>
            </div>
            <div class="col"></div>
        </div>
        <div class="row checkSOP">
            <div class="col border-3 border-warning">
                <button type="button" id="trx3" class="checkbtn decative btn btn-secondary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Tip Rack B X3</button>
            </div>
            <div class="col border-3 boder-dashed">
                <p class="emptyText">Temp. Ctrl. module</p>
            </div>
            <div class="col border-3 boder-dashed">
                <p class="emptyText">Magnetic stand</p>
            </div>
            <div class="col"></div>
        </div>
        <div class="row checkSOP">
            <div class="col border-3 boder-dashed">
                <p class="emptyText">Empty Rack</p>
            </div>
            <div class="col border-3 active border-solid">

                <button type="button" id="12wpwr" class="checkbtn active btn btn-secondary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">12 well plate with reagent</button>
            </div>
            <div class="col border-3 active border-solid">

                <button type="button" id="dwp" class="checkbtn active btn btn-secondary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Deep well plate</button>
            </div>
            <div class="col">
                <div class="done border-3 active border-solid">
                    <button type="button" id="ashcan" class="checkbtn active btn btn-secondary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Ashcan</button>
                </div>
            </div>
        </div>
        <div class="row checkSOP">
            <div class="col border-3 boder-dashed">
                <p class="emptyText">Empty Rack</p>
            </div>
            <div class="col border-empty"></div>
            <div class="col border-3 active border-solid">
                <button type="button" id="erc" class="checkbtn active btn btn-secondary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Empty racks Cleaned</button>
            </div>
            <div class="col"></div>
        </div>
        <div class="row mt-5 justify-content-between">
            <div class="col-2">
                <button type="button" class="changePage prevPage btn-primary border-5">
                    <i class="fa-solid fa-caret-left"></i>
                </button>
            </div>
            <div class="col-2">

            </div>
        </div>
    </div>
    <%- include('./layout/js') -%>
    <script src="/assets/js/selfCheck.js"></script>
</body>

</html>