.currentlyModelContainer {
    position: absolute !important;
    width: 240px !important;
    height: 110px !important;
    right: 0 !important;
    top: 0 !important;
    background-color: rgb(125, 194, 251) !important;
    border-radius: 0 0 0 52px !important;
    font-size: 32px !important;
    font-weight: bold !important;
    color: white !important;
}

#currentlyModelName {
    margin-top: 10px;
}

#btn-login {
    margin-top: -10px;
}

#processImg {
    width: 68%;
}

.modal button {
    font-size: 28px;
    font-weight: bold;
    padding: 5px 10px;
}